@model Simulados.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}

@using (Html.BeginForm("Register", "Conta", FormMethod.Post, new { @class = "form-horizontal", data_role = "validator", data_hint_mode = "hint", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1 class="text-light">@ViewBag.Title</h1>
    <hr class="thin" />
    <br />
    @Html.ValidationSummary(false, "")
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new
        {
            data_validate_func = "required",
            data_validate_hint = "O nome é obrigatório",
            data_validate_hint_position = "right"
        })
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
    </div>
    <br />
    <br />
    <div class="input-control text full-size" data-role="input">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new
        {
            data_validate_func = "required",
            data_validate_hint = "O email é obrigatório",
            data_validate_hint_position = "right"
        })
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
    </div>
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new
        {
            data_validate_func = "required",
            data_validate_hint = "A senha é obrigatória",
            data_validate_hint_position = "right"
        })
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
    </div>
    <br />
    <br />
    <div class="input-control password full-size" data-role="input">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new
        {
            data_validate_func = "required",
            data_validate_hint = "A confirmação da senha é obrigatória",
            data_validate_hint_position = "right"
        })
        <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
    </div>
    <br />
    <br />

    <div class="form-actions">
        <button type="submit" class="button primary">Registrar</button>
        @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "button link" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
