@using Admin;
@model PagedList.IPagedList<Admin.EF.Questoes>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Questões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menus{ 
    <li class="active">@Html.ActionLink("Início", "Index", "Home")</li>
    <li>@Html.ActionLink("Questões", "About", "Home")</li>
    <li>@Html.ActionLink("Categorias", "Contact", "Home")</li>
    <li>@Html.ActionLink("Subcategorias", "Contact", "Home")</li>
}

<h2>@ViewBag.Title</h2>
<hr/>

<p>
    @Html.ActionLink("Adicionar uma questão", "Novo")
</p>
<table class="table">
    <tr>
        <th>
            Enunciado
        </th>
        <th>
            Categoria
        </th>
        <th>
            Subcategoria
        </th>
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Enunciado.Reduce(150)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcategorias.Categorias.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subcategorias.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) 
            @if (item.Simulados_Questoes1.Count() == 0)
            {
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))
