<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simulados Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar rounded">
                    <a href="@Url.Action("Index","Home")">
                        <div class="sidebarBtn">
                            <i class="glyphicon glyphicon-home"></i>
                            <p>Painel</p>
                        </div>
                    </a>
                    <hr />
                    <a href="@Url.Action("Index","Questoes")">
                        <div class="sidebarBtn">
                            <i class="glyphicon glyphicon-list"></i>
                            <p>Questões</p>
                        </div>
                    </a>
                    <hr />
                    <a href="@Url.Action("Index","Categorias")">
                        <div class="sidebarBtn">
                            <i class="glyphicon glyphicon-book"></i>
                            <p>Categorias</p>
                        </div>
                    </a>
                    <hr />
                    <a href="@Url.Action("Index","Relatorios")">
                        <div class="sidebarBtn">
                            <i class="glyphicon glyphicon-stats"></i>
                            <p>Relatórios</p>
                        </div>
                    </a>
                    <hr />
                    <a href="@Url.Action("Index","Config")">
                        <div class="sidebarBtn">
                            <i class="glyphicon glyphicon-cog"></i>
                            <p>Configurações</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <div class="rounded inner-addon right-addon search-container">
                            <form class="form" role="form">
                                <input type="text" placeholder="Pesquisar..." class="search" />
                                <i class="glyphicon glyphicon-search"></i>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-danger logout">Sair</a>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="rounded page-content" style="padding:20px;">
                            @RenderBody()
                            <div style="display:none;">
                                @RenderSection("menus", false);
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        relativeUri = "@Url.Action("Index")";
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
