@model IEnumerable<Admin.EF.Subcategorias>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section menus{
    <li >@Html.ActionLink("Início", "Index", "Home")</li>
    <li>@Html.ActionLink("Questões", "Index", "Questoes")</li>
    <li>@Html.ActionLink("Categorias", "Contact", "Home")</li>
    <li class="active">@Html.ActionLink("Subcategorias", "Contact", "Home")</li>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Subcategoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorias.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
